<h2>All Trolls</h2>

<% @trolls.each do |troll| %>
<p>Name: <%= troll.name %></p>
<p>Breed: <%= troll.breed %></p>
<p>Adoptable? <% if troll.adoptable == 't' %>Yes <% else %>No<% end %></p>
<p><a href="/trolls/<%= troll.id %>">Go to troll</a></p>
<hr/>

<% end %>
