<h2>Register a new troll</h2>

<div class="formbox">
<form method="post" action="/trolls">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name">

  <label for="breed">Breed:</label>
  <input type="text" name="breed" id="breed">

  <label for="admission-date">Admission Date:</label>
  <input type="text" name="admission_date" id="admission_date">

  <label for="adoptable">Adoptable?</label>
  <select name="adoptable" id="adoptable">
    <option value="Yes">Adoptable</option>
    <option value="No">Not Adoptable</option>
  </select>

  <input type="submit" value="Submit">

</form>
</div>
