<h2>All Owners</h2>

<% @owners.each do |owner| %>
<div class="trollbox">
  <p>Name: <%= owner.name %> </p>
  <p>Trolls:</p>

  <% if owner.trolls.length > 0 %>

  <ul>
    <% owner.trolls.each do |troll| %>
    <li><%= troll.name %></li>
    <% end %>
  </ul>

  <% else %>
  <p>No Trolls</p>
  <% end %>
  <p><a href="/trolls">Adopt trolls</a></p>

</div>
<% end %>
