<p>The owners index.erb is working.</p>

<% @owners.each do |owner| %>
<p>Name: <%= owner.name %> </p>
  <ul>
  <% owner.trolls.each do |troll| %>
  <li><%= troll.name %></li>
  <% end %>
  </ul>
<% end %>
<hr/>
