<h2>Register New Owner</h2>

<div class="formbox">
<form method="post" action="/owners">

  <label for="name">Full name:</label>
  <input type="text" name="name" id="name">

  <input type="submit" value="Register"/>
</form>
</div>
